$font-family-abel: 'Abel';
$font-family-ubuntu: 'Ubuntu';

$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;

$base-font-size: 16;
$font-size-default: 16px;

@mixin font-set(
    $font-size,
    $line-height,
    $letter-spacing,
    $font-weight,
    $color
) {
    font-size: $font-size / $base-font-size + rem;
    line-height: $line-height / $font-size;
    letter-spacing: $letter-spacing;
    font-weight: $font-weight;
    color: $color;
}

