button,
.button {
    text-transform: uppercase;
    @apply py-3.5 px-8;
    font-size: 0.875em;
}

.button--primary {
    @apply bg-primary;
    color: white;
}

.button--secondary {
    background-color: green;
}

.button--outlined {
    border: 1px solid;
    background-color: transparent;

    &.button--primary {
        @apply border-primary text-primary;
    }
}
